@keyframes bounceIn {
  to {
    visibility: visible;
  }
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

body {
  background: linear-gradient(225deg, #303841, #00adb5, #eeeeee, #ff5722);
  color: white;
}

.header {
  text-align: center;
}

#puzzle {
  border-radius: 8px;
  background: linear-gradient(90deg, #2d4059, #ea5455, #f07b3f, #ffd460);
  visibility: visible;
}

.container {
  border-radius: 8px;
  background: linear-gradient(90deg, #2d4059, #ea5455, #f07b3f, #ffd460);
  visibility: hidden;
  animation: bounceIn 5s;
  animation-fill-mode: forwards;
}

#skills {
  animation-delay: 0s;
}

#projects {
  animation-delay: 5s;
}

#certifications {
  animation-delay: 10s;
}

#about {
  animation-delay: 15s;
}

#contact {
  animation-delay: 20s;
}
